/* Notifications */
.alg-wc-wl-notification-link {
	display: block;
	margin-top: 5px;
	color: #fff;
	text-decoration: underline;
	&:hover{
		color: #fff;
	}
}

.alg-wc-wl-link {
	color: #fff;
	&:hover{
		color: #fff;
	}
}