.alg-wc-wl-social {
	margin-bottom: 17px;
}

.alg-wc-row{
	padding:0 0 15px 0;
}

.alg-wc-wl-share-on {
	vertical-align: middle;
	margin-right: 5px;
}

.alg-wc-wl-social-ul {
	display: inline-block;
	font-size: 0px;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

.alg-wc-wl-social-li {
	vertical-align: middle;
	list-style: none;
	font-size: 30px;
	display: inline-block;
	margin-right: 5px;
	> *{
		cursor: pointer;
	}
	a {
		&:focus {
			outline: none;
		}
		opacity: 0.6;
		transition: all 0.2s ease-in-out;
		&:hover, &.active {
			opacity: 1;
		}
	}
	i{
		pointer-events:none;
	}
}

.alg-wc-wl-email-options {

	display: none;
	margin: 10px 0 20px 0;
	padding: 20px;
	background: #FBFBFB;
	form {
		margin: 0;
	}

	.label-description {
		color: #999;
		font-weight: normal;
		margin-left: 10px;
		font-size: 13px;
		position: relative;
		top: -1px;
	}

	.alg-wc-wl-email-admin {
		margin-top: 9px;

		input {
			margin-right: 5px;
		}

		label {
			margin: 0;
		}

		* {
			vertical-align: middle;
		}
	}

	label {
		margin-bottom: 0px;
		display: inline-block;
		cursor: pointer;

	}

	.alg-wc-wl-input {
		width: 100%;
	}

	input[type="submit"] {
		clear: right;
		float: right;
		padding: 10px;
		text-transform: uppercase;
		font-weight: bold;
	}

	textarea {
		max-width: 100%;
		min-width: 100%;
		//margin-top:10px;
		min-height: 90px;

	}

	input[type="text"] {


	}

	textarea, .alg-wc-wl-input {
		padding: 6px 10px;
		width:100%;
	}

	.alg-wc-wl-radio {
		margin-left: 15px;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
		margin-top: 0;
	}

	.alg-wc-wl-email-section {
		font-size: 16px
	}

	.alg-wc-wl-radio-label {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
		margin-top: 0;
		font-size: 13px;
	}

	.alg-wc-email-from{
		padding-bottom:15px;

	}

	.display-flex{
		width:100%;
		display: flex;
		justify-content: space-between;
	}

	.alg-wc-email-send-to{
		margin-top:7px;
	}

	.alg-wc-wl-from-name{

	}

	.alg-wc-wl-from-email{

	}

	.alg-wc-wl-from-email, .alg-wc-wl-from-name{
		width:49%;
	}

}