/*!
 * Main style of Wish List for WooCommerce plugin  	 
 *
 * @version 2.0.1
 * @since   1.0.0
 * @author  WPFactory
 */
li.wp-block-post.product.type-product {
  position: relative;
}

.alg-wc-wl-view-state {
  display: none;
  position: relative;
  z-index: 2;
}

.alg-wc-wl-btn, .alg-wc-wl-btn2 {
  position: relative;
  outline: none;
  cursor: pointer;
}

.alg-wc-wl-btn:focus, .alg-wc-wl-btn2:focus {
  outline: none;
}

.alg-wc-wl-btn:hover i, .alg-wc-wl-btn2:hover i {
  -webkit-transform: translateZ(0) scale(1.5, 1.5);
  transform: translateZ(0) scale(1.5, 1.5);
}

.alg-wc-wl-btn i, .alg-wc-wl-btn2 i {
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.alg-wc-wl-btn .loading, .alg-wc-wl-btn2 .loading {
  position: absolute;
  right: -30px;
  top: 50%;
  margin: -9px 0 0 0;
  font-size: 18px;
  opacity: 0;
  display: none;
  color: #333;
}

.alg-wc-wl-btn.loading .loading, .alg-wc-wl-btn2.loading .loading {
  opacity: 0.5;
  display: block;
}

.alg-wc-wl-btn.add .alg-wc-wl-view-state-add, .alg-wc-wl-btn2.add .alg-wc-wl-view-state-add {
  display: block;
}

.alg-wc-wl-btn.add i, .alg-wc-wl-btn2.add i {
  opacity: 0.7;
}

.alg-wc-wl-btn.remove .alg-wc-wl-view-state-remove, .alg-wc-wl-btn2.remove .alg-wc-wl-view-state-remove {
  display: block;
}

.alg-wc-wl-btn.remove i, .alg-wc-wl-btn2.remove i {
  opacity: 1;
}

.alg-wc-wl-btn.remove i:first-child, .alg-wc-wl-btn2.remove i:first-child {
  color: #DC3232;
}

.alg-wc-wl-toggle-btn {
  display: inline-block !important;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 8px 12px;
  float: none !important;
}

.alg-wc-wl-toggle-btn i {
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
  margin-left: 9px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.alg-wc-wl-remove-btn .alg-wc-wl-remove-item-from-wl {
  border: none;
}

.alg-wc-wl-remove-item-from-wl {
  margin: 0;
}

.alg-wc-wl-thumb-btn-abs {
  padding: 0;
  top: 13px;
  left: 13px;
  position: absolute;
  font-size: 0;
  z-index: 80;
  display: none;
}

.alg-wc-wl-thumb-btn-abs div i {
  font-size: 20px;
  margin: 0;
}

.alg-wc-wl-thumb-btn-single {
  position: absolute !important;
}

.alg-wc-wl-thumb-btn-loop {
  position: absolute !important;
}

.alg-wc-wl-thumb-btn:before {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 60px;
  width: 28px;
  height: 28px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
}

/*
.woocommerce.single-product, .woocommerce *[class*='products']{

	// Thumb button
	.alg-wc-wl-thumb-btn {
		@extend .alg-wc-wl-thumb-btn-abs
	}
}
*/
/*
.woocommerce *[class*='grid']{
	// Thumb button
	.alg-wc-wl-thumb-btn {
		@extend .alg-wc-wl-thumb-btn-abs
	}
}
*/
.woocommerce *[class*='products'] .alg-wc-wl-toggle-btn {
  margin: 0 auto 10px auto;
}

.alg-wc-wl-icon-wrapper {
  font-size: 0px;
  position: relative;
  display: inline-block;
}

.alg-wc-wl-icon-wrapper .alg-wc-wl-icon {
  font-size: 20px;
}

.alg-wc-wl-icon-wrapper .alg-wc-wl-counter {
  pointer-events: none;
  background: #aaa;
  color: #fff;
  border-radius: 50px;
  font-weight: bold;
  font-size: 11px;
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 14px;
  letter-spacing: -1px;
  padding-right: 1px;
  text-align: center;
  top: -5px;
  right: -11px;
  position: absolute;
}

/* Wishlist view table  */
.alg-wc-wl-view-table {
  width: 100%;
}

.alg-wc-wl-view-table .product-thumbnail img {
  max-width: 70px;
  margin: 0 auto;
  height: auto;
}

.alg-wc-wl-view-table td, .alg-wc-wl-view-table tr {
  vertical-align: middle !important;
  text-align: center !important;
}

.alg-wc-wl-view-table th {
  text-align: center;
}

.alg-wc-wl-view-table td {
  padding: 15px;
}

.alg-wc-wl-empty-wishlist {
  display: none;
}

.alg-wc-wl-responsive .alg-wc-wl-view-table .product-thumbnail img {
  display: inline-block;
}

.alg-wc-wl-responsive .alg-wc-wl-view-table td {
  text-align: right !important;
}

.alg-wc-wl-responsive .alg-wc-wl-view-table thead {
  display: none;
}

.alg-wc-wl-responsive .alg-wc-wl-view-table tbody tr:first-child td:first-child {
  border-top: 0;
}

.alg-wc-wl-responsive .alg-wc-wl-view-table tbody th {
  display: none;
}

.alg-wc-wl-responsive .alg-wc-wl-view-table tr {
  display: block;
}

.alg-wc-wl-responsive .alg-wc-wl-view-table tr td {
  display: block;
  text-align: right !important;
  float: left;
  width: 100%;
}

.alg-wc-wl-responsive .alg-wc-wl-view-table tr td.order-actions {
  text-align: left !important;
}

.alg-wc-wl-responsive .alg-wc-wl-view-table tr td:before {
  content: attr(data-title) ": ";
  font-weight: 600;
  float: left;
}

.alg-wc-wl-responsive .alg-wc-wl-view-table tr td.product-remove:before, .alg-wc-wl-responsive .alg-wc-wl-view-table tr td.actions:before {
  display: none;
}

.alg-wc-wl-responsive .alg-wc-wl-view-table tr:nth-child(2n) td {
  background-color: rgba(0, 0, 0, 0.025);
}

/* Notifications */
.alg-wc-wl-notification-link {
  display: block;
  margin-top: 5px;
  color: #fff;
  text-decoration: underline;
}

.alg-wc-wl-notification-link:hover {
  color: #fff;
}

.alg-wc-wl-link {
  color: #fff;
}

.alg-wc-wl-link:hover {
  color: #fff;
}

.alg-wc-wl-social {
  margin-bottom: 17px;
}

.alg-wc-row {
  padding: 0 0 15px 0;
}

.alg-wc-wl-share-on {
  vertical-align: middle;
  margin-right: 5px;
}

.alg-wc-wl-social-ul {
  display: inline-block;
  font-size: 0px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.alg-wc-wl-social-li {
  vertical-align: middle;
  list-style: none;
  font-size: 30px;
  display: inline-block;
  margin-right: 5px;
}

.alg-wc-wl-social-li > * {
  cursor: pointer;
}

.alg-wc-wl-social-li a {
  opacity: 0.6;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.alg-wc-wl-social-li a:focus {
  outline: none;
}

.alg-wc-wl-social-li a:hover, .alg-wc-wl-social-li a.active {
  opacity: 1;
}

.alg-wc-wl-social-li i {
  pointer-events: none;
}

.alg-wc-wl-email-options {
  display: none;
  margin: 10px 0 20px 0;
  padding: 20px;
  background: #FBFBFB;
}

.alg-wc-wl-email-options form {
  margin: 0;
}

.alg-wc-wl-email-options .label-description {
  color: #999;
  font-weight: normal;
  margin-left: 10px;
  font-size: 13px;
  position: relative;
  top: -1px;
}

.alg-wc-wl-email-options .alg-wc-wl-email-admin {
  margin-top: 9px;
}

.alg-wc-wl-email-options .alg-wc-wl-email-admin input {
  margin-right: 5px;
}

.alg-wc-wl-email-options .alg-wc-wl-email-admin label {
  margin: 0;
}

.alg-wc-wl-email-options .alg-wc-wl-email-admin * {
  vertical-align: middle;
}

.alg-wc-wl-email-options label {
  margin-bottom: 0px;
  display: inline-block;
  cursor: pointer;
}

.alg-wc-wl-email-options .alg-wc-wl-input {
  width: 100%;
}

.alg-wc-wl-email-options input[type="submit"] {
  clear: right;
  float: right;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.alg-wc-wl-email-options textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 90px;
}

.alg-wc-wl-email-options textarea, .alg-wc-wl-email-options .alg-wc-wl-input {
  padding: 6px 10px;
  width: 100%;
}

.alg-wc-wl-email-options .alg-wc-wl-radio {
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  margin-top: 0;
}

.alg-wc-wl-email-options .alg-wc-wl-email-section {
  font-size: 16px;
}

.alg-wc-wl-email-options .alg-wc-wl-radio-label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 13px;
}

.alg-wc-wl-email-options .alg-wc-email-from {
  padding-bottom: 15px;
}

.alg-wc-wl-email-options .display-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.alg-wc-wl-email-options .alg-wc-email-send-to {
  margin-top: 7px;
}

.alg-wc-wl-email-options .alg-wc-wl-from-email, .alg-wc-wl-email-options .alg-wc-wl-from-name {
  width: 49%;
}

/* IZITOAST (for notifications) */
.iziToast > .iziToast-body > .iziToast-buttons {
  display: block !important;
  margin: 0 -2px 5px -2px !important;
}

.iziToast > .iziToast-body > .iziToast-buttons > *:focus {
  outline: none;
}

.iziToast .iziToast-body {
  padding-left: 55px !important;
}

.iziToast .slideIn {
  margin-right: 0 !important;
}

/* Woocommerce Product page Thumbnail ============================= */
.single-product div.product .images {
  position: relative;
}

/* Woocommerce Loop Product page Thumbnail ============================= */
.woocommerce-LoopProduct-link {
  position: relative;
}

*[class*="alg-"] i.fa {
  font-family: FontAwesome !important;
  height: auto;
}

/*# sourceMappingURL=../maps/alg-wc-wish-list.css.map */
