.alg-wc-wl-view-state{
	display:none
}

/* Loading icon =============================================== */
.alg-wc-wl-btn .fa.loading{
	position:absolute;
	right:-30px;
	top:50%;
	margin:-9px 0 0 0;
	font-size:18px;
	opacity:0;
	display:none;
	color:#333;
}
.alg-wc-wl-btn.loading .fa.loading{
	opacity:0.5;
	display:block;
}

/* Buttons ===================================================== */
.alg-wc-wl-btn{
	position:relative;
	outline:none;
	cursor:pointer;
}
.alg-wc-wl-btn:focus{
	outline:none;
}
.alg-wc-wl-btn.add .alg-wc-wl-view-state-add{
	display:block;
}
.alg-wc-wl-toggle-btn{
	display: block;
    margin-top: 15px;
}
.alg-wc-wl-btn:hover i.fa{
	-webkit-backface-visibility: hidden; 
    -ms-transform: translateZ(0) scale(1.4,1.4); /* IE 9 */
    -webkit-transform: translateZ(0) scale(1.4,1.4); /* Chrome, Safari, Opera */
    transform: translateZ(0) scale(1.4,1.4);
}
.alg-wc-wl-btn.remove .alg-wc-wl-view-state-remove{
	display:block;
}
.alg-wc-wl-remove-btn, .alg-wc-wl-remove-item-from-wl{
	border:none;
}

.alg-wc-wl-remove-item-from-wl{
	margin:0;
}
.alg-wc-wl-remove-item-from-wl:hover, .alg-wc-wl-remove-item-from-wl:focus, .alg-wc-wl-remove-item-from-wl:active{
}

/* Button icons ================================================ */
.alg-wc-wl-btn i.fa{
	transition:all 0.14s ease-in-out;
	margin-left:5px;
	backface-visibility: hidden;
}
.alg-wc-wl-btn.add i.fa{
	opacity:0.5;
}
.alg-wc-wl-btn.remove i.fa{
	opacity:1;
}

/* Wishlist view table ========================================== */
.alg-wc-wl-view-table td{
	/*width:25%*/
}
.alg-wc-wl-view-table .product-thumbnail img{
	max-width:80px;
	margin:0;
}
.alg-wc-wl-view-table td, .alg-wc-wl-view-table tr{
	vertical-align:middle !important;
}
.alg-wc-wl-view-table td:last-child, .alg-wc-wl-view-table th:last-child{
	text-align:right;
	/*width:10%;*/
}
.alg-wc-wl-empty-wishlist{
	display:none;
}

/* Notification ================================================= */
.alg-wc-wl-notification-link{
	display:block;
	margin-top:4px;
	color:#fff;
	text-decoration:underline;
}
.alg-wc-wl-notification-link:hover{
	color:#fff;
}

/* IZITOAST ======================================================= */
.iziToast-body{padding-left:50px !important}

/* Woocommerce Product page Thumbnail ============================= */
.single-product div.product .images{
	position:relative;
}

/* Product page thumb button ====================================== */
.single-product .alg-wc-wl-simple-btn{
	padding:0;
	top:15px;
	right:15px;
	position:absolute;
	font-size:0;
}
.single-product .alg-wc-wl-simple-btn *{
	font-size:0
}
.single-product .alg-wc-wl-simple-btn i{
	font-size:20px
}
