/* Wishlist view table  */
.alg-wc-wl-view-table {
	width:100%;

	.product-thumbnail img {
		max-width: 70px;
		margin: 0 auto;
		height: auto;
		@media (max-width: 768px) {
			display: inline-block;
		}
	}
	td, tr {
		vertical-align: middle !important;
		text-align: center !important;
	}
	th {
		text-align: center;
	}
	td {
		padding:15px;
		@media (max-width: 768px) {
			text-align: right !important;
		}
	}

	&.shop_table_responsive {
		@media (max-width: 768px) {
			thead {
				display: none;
			}

			tbody {
				tr:first-child {
					td:first-child {
						border-top: 0;
					}
				}

				th {
					display: none;
				}
			}

			tr {
				display: block;

				td {
					display: block;
					text-align: right !important; // Important to overwrite order status inline styling

					&.order-actions {
						text-align: left !important;
					}

					&:before {
						content: attr(data-title);
						font-weight: 700;
						float: left;
					}

					&.product-remove,
					&.actions {
						&:before {
							display: none;
						}
					}
				}

				&:nth-child(2n) {
					td {
						background-color: rgba(0, 0, 0, 0.025);
					}
				}
			}
		}
	}
}

//Message at the end of the table when where is no wishlisted items
.alg-wc-wl-empty-wishlist {
	display: none;
}

